body {
  margin: 0;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  padding: 20px;
}

.container {
  background-color: white;
}

.header {
  text-align: center;
  background-color: rgb(0, 140, 200);
  padding: 25px;
}

.header h1 {
  color: white;
  font-size: 35px;
}

.content {
  padding: 30px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

#searchInput {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid;
  border-radius: 3px;
}

.search-button {
  background: rgb(75%, 5%, 20%);
  color: white;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.search-button:hover {
  background: red;
}

h2 {
  margin-bottom: 10px;
}

hr {
  margin-bottom: 20px;
}

.result h3 {
  margin-bottom: 0;
  text-transform: uppercase;
}

.result h4 {
  font-size: 0.8em;
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: uppercase;
}

.not-found {
  color: rgb(75%, 5%, 20%);
  font-weight: bold;
}
